body{
    background-color:#66CDAA; font-family: cursive;

  }
  h1{
    font-family:Georgia;; color:#000033
  }
  p{
    font-size;20px; color:black; font-style:italics; text-align: left;
    }
    img{
      width: 460px; border=5; 
    }
    .left{
      width: 50%;
      float: left;

    }
    .rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
